{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://kit.fontawesome.com/ecaf831147.js" crossorigin="anonymous"></script>    </head>
    <body>
        <div class="whole-container">
            <div class="menu-panel">
                <div onclick="menuCollapse()" id="backIcon" class="back-icon">
                    <i class="fa-solid fa-caret-right"></i>
                </div>
                <div class="logo-holder">
                    <span class="logo-title">Sri Sathya Sai Institute of Higher Learning</span>
                    <img class="logo-img display-none" src="{% static 'img/1.png' %}">
                </div>
                <div class="menu-icons">
                    <div onclick="showOverviewPage()" id="overview-item" class="overview menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <span class="icon-name">Overview</span>
                    </div>
                    <div onclick="showStudentPage()" id="students-item" class="students menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <span class="icon-name">Students</span> 
                    </div>
                    <div onclick="showFacultyPage()" id="faculty-item" class="faculty menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-chalkboard-user"></i>
                        </div>
                        <span class="icon-name">Faculty</span>
                    </div>
                    <div onclick="showDepartmentsPage()" id="departments-item" class="departments menu-item active">
                        <div class="icon">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <span class="icon-name">Departments</span>
                    </div>
                    <div id="courses-item" class="courses menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        <span class="icon-name">Courses</span>
                    </div>
                    <div onclick="showCampusPage()" id="campus-item" class="Campus menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-school"></i>
                        </div>
                        <span class="icon-name">Campus</span>
                    </div>
                </div>
            </div>

            <div id="departmentsPage" class="right-panel dept">
                <div class="dashboard-head">
                    <span class="over-heading">Departments</span>
                    <div class="date">
                        <span>26/05/2025</span>
                    </div>
                </div>
                <div class="stud-header">
                    <div class="search-bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" class="search" placeholder="Search Departments...">
                    </div>
                    <div onclick="showAddDepartmentsPage()" class="create-icon">
                        <span>create</span>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
                
                <div class="table-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Department ID</th>
                                <th>Department Name</th>
                                <th>HOD name</th>
                                <th>HOD id</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if departments %}
                            {% for department in departments %}
                            <tr>
                                <td>{{ department.dept_id }}</td>
                                <td>{{ department.dept_name }}</td>
                                <td>{{ department.hod.name }}</td>
                                <td>{{ department.hod.faculty_id }}</td>
                                
                                <td class="info"><i class="fa-solid fa-circle-info"></i></td>
                                <td class="edit" onclick="location.href='{% url 'edit_department' department.dept_id %}'"><i class="fas fa-edit"></i></td>
                                <td class="delete" onclick="location.href='{% url 'del_department' department.dept_id %}'"><i class="fa-solid fa-trash"></i></td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="7" class="no-data">No Departments Data Available</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    
    <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>