{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://kit.fontawesome.com/ecaf831147.js" crossorigin="anonymous"></script>    </head>
    <body>
        <div class="whole-container">
            <div class="menu-panel">
                <div onclick="menuCollapse()" id="backIcon" class="back-icon">
                    <i class="fa-solid fa-caret-right"></i>
                </div>
                <div class="logo-holder">
                    <span class="logo-title">Sri Sathya Sai Institute of Higher Learning</span>
                    <img class="logo-img display-none" src="{% static 'img/1.png' %}">
                </div>
                <div class="menu-icons">
                    <div onclick="showOverviewPage()" id="overview-item" class="overview menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <span class="icon-name">Overview</span>
                    </div>
                    <div onclick="showStudentPage()" id="students-item" class="students menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <span class="icon-name">Students</span> 
                    </div>
                    <div onclick="showFacultyPage()" id="faculty-item" class="faculty menu-item active">
                        <div class="icon">
                            <i class="fa-solid fa-chalkboard-user"></i>
                        </div>
                        <span class="icon-name">Faculty</span>
                    </div>
                    <div onclick="showDepartmentsPage()" id="departments-item" class="departments menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <span class="icon-name">Departments</span>
                    </div>
                    <div onclick="showProgramPage()" id="courses-item" class="courses menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        <span class="icon-name">Program</span>
                    </div>
                    <div onclick="showCampusPage()" id="campus-item" class="Campus menu-item">
                        <div class="icon">
                            <i class="fa-solid fa-school"></i>
                        </div>
                        <span class="icon-name">Campus</span>
                    </div>
                </div>
            </div>

            <div id="facultyPage" class="right-panel fac">
                <div class="dashboard-head">
                    <span class="over-heading">Faculty</span>
                    <div class="date">
                        <span id="date"></span>
                    </div>
                </div>
                <div class="stud-header">
                    <div class="search-bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" class="search" placeholder="Search Faculty...">
                    </div>
                    <div onclick="showAddFacultyPage()" class="create-icon">
                        <span>Create</span>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div onclick="showUploadFacultyPage()" class="create-icon">
                        <span>Upload</span>
                        <i class="fa-solid fa-upload"></i>
                    </div>
                </div>
                
                <div class="table-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Faculty ID</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Campus</th>
                                <th>Email</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if faculties %}
                                {% for faculty in faculties %}
                                <tr>
                                    <td>{{ faculty.faculty_id }} </td>
                                    <td>{{ faculty.name }}</td>
                                    <td>{{ faculty.department}}</td>
                                    <td>{{ faculty.campus }}</td>
                                    <td>{{ faculty.email }}</td>
                                    
                                    <td class="info" onclick="openPopup()"><i class="fa-solid fa-circle-info"></i></td>
                                    <td class="edit" onclick="location.href='{% url 'edit_faculty' faculty.faculty_id %}'"><i class="fas fa-edit"></i></td>
                                    <td class="delete" onclick="if(confirm('Are you sure you want to delete this faculty?')){window.location.href='{% url 'del_faculty' faculty.faculty_id %}'}"><i class="fa-solid fa-trash"></i></td>
                                </tr>
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="8" class="no-data">No Faculty Data Available</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="popup display-none" id="popup">
            <div class="container">
                <form class="form">
                    {% csrf_token %}
                    <div class="form-header">   
                        <div class="form-row-header">
                            {% if faculty.dp_key %}
                                <img src="/mediahandler/image/{{ faculty.dp_key }}/" id="pfp-pic" alt="">
                            {% else %}
                                <img src="{% static 'img/pfp.png' %}" id="pfp-pic" alt="">
                            {% endif %}
                            <span class="pfp-img-title">Profile Image</span>
                        </div>
                        <div class="icon-holder" onclick="closePopup()">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input type="text" name="name" value="{{ faculty.name }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="dob">Date of Birth</label>
                            <input type="date" name="dob" value="{{ faculty.dob|date:'Y-m-d' }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" value="{{ faculty.email }}" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="mobile">Mobile Number</label>
                            <input type="tel" name="mobile" value="{{ faculty.mobile }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <input value="{{faculty.gender}}" name="gender" id="gender" disabled>
                        </div>
                        <div class="form-group">
                            <label for="campus">Campus</label>
                            <input {% if faculty.campus.campus_name %} value="faculty.campus.campus_name" {% endif %} name="campus" id="campus" disabled>   
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="facID">Faculty ID</label>
                            <input type="text" name="facID" disabled value="{{ faculty.faculty_id }}">
                        </div>
                        <div class="form-group">
                            <label for="deptID">Department</label>
                            <input name="department" id="department_select" {% if faculty.department.dept_id %} value = faculty.department.dept_id {% endif %} disabled>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <input class="field" name="status" id="status" value="{{ faculty.status }}" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="qualifiication">Qualification</label>
                            <input type="text" name="qualification" value="{{ faculty.qualification }}" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
    <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>