<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    {% csrf_token %}
    <pre>
    Registration Number: <input type="text" name="regd_no" value="{{ student.regd_no }}" readonly><br>
    Name: <input type="text" name="name" value="{{ student.name }}"><br>
    Email: <input type="email" name="email" value="{{ student.email }}"><br>
    State:<input type="text" name="state" value="{{ student.state_name }}"><br>
    District: <input type="text" name="district" value="{{ student.district_name }}"><br>
    City: <input type="text" name="city" value="{{ student.city }}"><br>
    Previous Degree1 Name: <input type="text" name="prev_degree1_name" value="{{ student.prev_degree1_name }}"><br>
    Previous Degree1 University: <input type="text" name="prev_degree1_university" value="{{ student.prev_degree1_university }}"><br>
    Previous Degree1 GPA: <input type="number" step="0.01" name="prev_degree1_gpa" value="{{ student.prev_degree1_gpa }}"><br>
    Previous Degree2 Name: <input type="text" name="prev_degree2_name" value="{{ student.prev_degree2_name }}"><br>
    Previous Degree2 University: <input type="text" name="prev_degree2_university" value="{{ student.prev_degree2_university }}"><br>
    Previous Degree2 GPA: <input type="number" step="0.01" name="prev_degree2_gpa" value="{{ student.prev_degree2_gpa }}"><br>
    Blood Group:
    <select name="blood_group">
        {% for code, label in blood_groups %}
            <option value="{{ code }}" {% if student.blood_group == code %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select><br>
    Birthday:<input type="date" name="birthday" value="{{ student.birthday|date:'Y-m-d' }}"><br>
    Program:
    <select name="program">
        {% for prog in programs %}
            <option value="{{ prog.id }}" {% if student.program.id == prog.id %}selected{% endif %}>{{ prog.name }}</option>
        {% endfor %}
    </select><br>
    Batch: <input type="number" name="batch" value="{{ student.batch }}"><br>
    Status:
    <select name="status">
        {% for code, label in status_choices %}
            <option value="{{ code }}" {% if student.status == code %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">Update</button>
    </pre>
</form>

</body>
</html>